@model IEnumerable<MusicaAut_BauteViviana.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo artista</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Artista
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistId">Detalles</a> |
@*                <a asp-action="Delete" asp-route-id="@item.ArtistId">Borrar</a> |*@
                <a asp-action="GetDiscos" asp-route-id="@item.ArtistId" asp-route-name="@item.Name">Discos del artista</a> |
                <a asp-action="Index" asp-controller="Home"> Home </a>
            </td>
        </tr>
}
    </tbody>
</table>
